*{
    margin: 0;
    padding: 0;
}
.bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.zhuanp{
    position: fixed;
    width: 100%;
    top: 10vh;
    left: 0;
    z-index: 100;
}
#turntable{
    margin: 0 auto;
}